{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1 align = "center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{ note.data }}</span>
    <button type="button" class="btn-close" aria-label="Close" onclick="deleteNote('{{ note.id }}')"></button>
  </li>
  {% endfor %}
</ul>

<form method="POST">
    <textarea name = "note" id = "note" class = "form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class = "btn btn-primary">Add note</button>
    </div>
</form>
{% endblock %}